@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

:root {
    --outFont: 'Urbanist', sans-serif;
    ;
}

body {
    font-family: var(--outFont);
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h5 {
    font-weight: bolder;
}

/* nav start */
.navbar {
    font-family: var(--outFont);
}

.navbar ul a {
    color: rgb(255, 200, 0);
}

.ourLogo {
    height: 50px;
    width: 50px;
}

.ourBrand {
    letter-spacing: 5px;
}

/* head start */
.playHead {
    transition: 0.6s;
}

.playHead:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/* menuOrder start */
.menuOrder {
    transition: 0.6s;
}

.menuOrder:hover {
    transform: scale(1.03);
}

/* about start */
.aboutText {
    text-align: justify;
}

@media screen and (min-width:992px) {
    .aboutImg {
        height: 450px;
    }
}

@media screen and (min-width:1200px) {
    .aboutImg {
        height: 500px;
    }
}

/* gallery start */
.galleryImg {
    height: 200px;
    width: 400px;
}

.galleryImg img {
    height: 200px;
    width: 400px;
}

.prevImg:hover,
.nextImg:hover {
    color: red;
    transition: 0.5s;
}

.thumbnailImg {
    height: 90px;
    transition: 0.6s;
}

.thumbnailImg:hover {
    transform: scale(1.3) translateY(-20px);
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .galleryImg {
        height: 400px;
        width: 680px;
    }

    .galleryImg img {
        height: 400px;
        width: 680px;
    }
}

@media screen and (min-width:1200px) {
    .galleryImg {
        height: 450px;
        width: 700px;
    }

    .galleryImg img {
        height: 450px;
        width: 700px;
    }
}

/* contact start */
.contactBtn {
    cursor: default;
}

/* footer start */
.footerImg:hover h4 {
    color: red;
    transition: 0.5s;
    transform: scale(1.3) translateY(-5px);
}

.linkIcon:hover {
    transition: 0.5s;
    color: yellow;
    transform: rotate(-360deg) translateY(-5px) scale(1.9);
    cursor: pointer;
}

/* Preloader Start */
#preloader {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: white;
    z-index: 1020;
    width: 100%;
    height: 100vh;
    transition: 0.6s;
}

#preloader::before,
#preloader::after {
    content: "";
    position: absolute;
    border: 3px solid blue;
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader::after {
    animation-delay: -0.5s;
}

@keyframes animate-preloader {
    0% {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        opacity: 1;
    }

    100% {
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        opacity: 0;
    }
}

/* Preloader End */

/* ScrollUp Btn Start */
#backToHome {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    transition: 0.6s;
    width: 40px;
}

#backToHome:hover {
    background-color: brown;
    /* Add a dark-grey background on hover */
    transform: translate(0px, -5px);
}

/* ScrollUp Btn End */